/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 19px;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  color: #FCC99D;

}
.blog-description {
  font-size: 20px;
  color: #FCC99D;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: -650%;
  margin-left: 20%;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
  color: white;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: white;
}


/*
 * Footer
 */

.blog-footer {
  padding: 20px;
  color: #03203E;
  text-align: center;
  background-color: #60BC9A;
  width: 150%;
  padding-right: 55%;
  font-size: 19px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

#readmore{
  float: right;
  color: #000!important;
}

.readmore{
  float: right!important;
}



body {
 background: #36678D;
 color: #333;
 font: 100% Lato, Arial, Sans Serif;
 height: 100vh;
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
 left: 0;
 position: fixed;
 right: 0;
 top: 0;
 z-index: -1;
}

/ KEYFRAMES /

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

/ ANIMATIONS /

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
 -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
 animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

 left: -5%;
 top: 5%;

 -webkit-transform: scale(0.6);
 -moz-transform: scale(0.6);
 transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
 -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
 animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

 left: 5%;
 top: 80%;

 -webkit-transform: scale(0.4);
 -moz-transform: scale(0.4);
 transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
 -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
 animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

 left: 10%;
 top: 40%;

 -webkit-transform: scale(0.7);
 -moz-transform: scale(0.7);
 transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
 -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
 animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

 left: 20%;
 top: 0;

 -webkit-transform: scale(0.3);
 -moz-transform: scale(0.3);
 transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
 -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
 animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

 left: 30%;
 top: 50%;

 -webkit-transform: scale(0.5);
 -moz-transform: scale(0.5);
 transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
 -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
 animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

 left: 50%;
 top: 0;

 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
 -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
 animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

 left: 65%;
 top: 70%;

 -webkit-transform: scale(0.4);
 -moz-transform: scale(0.4);
 transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
 -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
 animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

 left: 80%;
 top: 10%;

 -webkit-transform: scale(0.3);
 -moz-transform: scale(0.3);
 transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
 -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
 animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

 left: 90%;
 top: 50%;

 -webkit-transform: scale(0.6);
 -moz-transform: scale(0.6);
 transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
 -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
 animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

 left: 80%;
 top: 80%;

 -webkit-transform: scale(0.3);
 -moz-transform: scale(0.3);
 transform: scale(0.3);
}

/ OBJECTS /

.bubble {
    -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
 -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
 box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 200px;
 position: absolute;
 width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); / FF3.6+ /
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); / Chrome,Safari4+ /
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); / Chrome10+,Safari5.1+ /
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); / Opera 12+ /
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); / IE10+ /
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); / W3C /
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); / IE6-9 fallback on horizontal gradient /

 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
 -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
 box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

 content: "";
    height: 180px;
 left: 10px;
 position: absolute;
 width: 180px;
}
